.card-container{
    position: relative;
}
.text-block{
    position: absolute;
    bottom: 0;
    display: flex;
}
.text-block h4{
    margin-left: 10px;
    color: whitesmoke;
    font-weight: bold;
}
.text-block a{
    margin: 0 0 10px 20px;
    text-decoration: none;
    background-color: rgba(249, 165, 26, 1);
    padding: 5px 20px;
    color: white;
}
.card-img{
    width: 350px;
}